force-app/main/default/flows/Claim_Approval_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Warranty_Claim_Approval_Check</name>
        <label>Warranty Claim Approval Check</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <actionName>ES_Claim_approval_criteria</actionName>
        <actionType>runExpressionSet</actionType>
        <connector>
            <targetReference>Claim_Approved_or_not</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ClaimItemId</name>
            <value>
                <elementReference>GetRelatedClaimItemRecords.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Claim_Approved_or_not</name>
        <label>Claim Approved or not</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Warranty_Claim_Approval_Check.isApproved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_the_claim_status_to_approved</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Claim Approval Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Claim Approval Flow</label>
    <loops>
        <name>iterate_over_all_CCPD_s</name>
        <label>iterate over all CCPD&apos;s</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_CCPD_details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_the_CCPD_adjusted_amount_to_claimed_amount</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CCPD_details</name>
        <label>Get CCPD details</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterate_over_all_CCPD_s</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClaimCoverageId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_claim_coverage_id_record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ClaimCoveragePaymentDetail</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_claim_coverage_id_record</name>
        <label>get claim coverage id record</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CCPD_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClaimItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRelatedClaimItemRecords.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ClaimCoverage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedClaimItemRecords</name>
        <label>GetRelatedClaimItemRecords</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Warranty_Claim_Approval_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClaimId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ClaimItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_CCPD_adjusted_amount_to_claimed_amount</name>
        <label>Update the CCPD adjusted amount to claimed amount</label>
        <locationX>138</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>iterate_over_all_CCPD_s</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AdjustedAmount</field>
            <value>
                <elementReference>iterate_over_all_CCPD_s.ClaimedAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>ClaimCoveragePaymentDetail</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_the_claim_status_to_approved</name>
        <label>update the claim status to approved</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>get_claim_coverage_id_record</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRelatedClaimItemRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <object>Claim</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
